@import "titlebar.css";

* {
  -moz-appearance: none;
  background-color: transparent;
  box-sizing: content-box;
  margin: 0;
  padding: 0;
  border-width: 0;
  font-family: sans-serif;
  font-size: 12px;
  image-rendering: -moz-crisp-edges;
}

input {
  font: -moz-field;
  font-size: 12px;
  line-height: 22px;
  vertical-align: bottom;
  min-width: 0;
  background: white;
}


:root {
}

* {
  box-sizing: border-box;
}

#root {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  -moz-window-dragging: drag;
}

.column
{
  display: flex;
  flex-flow: column;
  flex: auto;
}

.row
{
  display: flex;
  flex-flow: row;
  flex: auto;
}

.browser
{
  flex: 1;
  border: none;
}

.nil
{
  display: none;
}

.title-bar
{

}

.navigation-bar
{
  display: flex;
}

.address-bar
{
  border: none;
  border-radius: 4px;
  font-size: 13px;
  padding: 5px 15px;
  flex: 1;
}
