@import "titlebar.css";

:root {
  background: -moz-dialog;
  -moz-appearance: none;
}


.browser
{
  flex: 1;
  border: none;
  margin: 0;

  margin-top: -40px
}


/*
If Drawing into titlebar is disabled (like now because we can't get
window dragging working for html documents) we add account OS
titlebar into our styling.
*/
:root:not([chromemargin]) #title-bar
{
  margin-top: -18px;
  padding-top: 11px;

}

.title-bar
{
  -moz-binding: url("chrome://global/content/bindings/general.xml#windowdragbox");
  display: -moz-box;
  -moz-window-dragging: drag;

  align-items: center;
  height: 40px;
  margin: 0;
  padding: 0;

  pointer-events: none;
}

.titlebar-content
{
  display: flex;
}

.title-bar-button-box {
  -moz-appearance: -moz-window-button-box;
}

#title-bar-min {
   -moz-appearance: -moz-window-button-minimize;
}
#title-bar-max {
   -moz-appearance: -moz-window-button-maximize;
 }

:root[sizemode="maximized"] #title-bar-max {
   -moz-appearance: -moz-window-button-restore;
 }

#title-bar-close {
   -moz-appearance: -moz-window-button-close;
}


.window-controls,
.navigation-controls,
.display-controls,
{
  -moz-window-dragging: drag;
}

.textbox-input-box
{
  width: 100%;
  height: 100%;
}

.navigation-bar
{
  -moz-window-dragging: no-drag;
  pointer-events: none;
  display: hidden;
}

.nil
{
  display: none;
}
