:root {
  background: -moz-dialog;
  -moz-appearance: dialog;
}


body {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  margin: 0;
}


iframe,
browser
{
  flex: 1;
  border: none;
  margin: 0;
}

#title-bar
{
  -moz-binding: url("chrome://global/content/bindings/general.xml#windowdragbox");
  -moz-window-dragging: drag;
}

/*
If Drawing into titlebar is disabled (like now because we can't get
window dragging working for html documents) we add account OS
titlebar into our styling.
*/
:root:not([chromemargin]) #title-bar
{
  margin-top: -18px;
  padding-top: 11px;

}

#title-bar
{
  display: flex;
  align-items: center;
  -moz-appearance: -moz-window-titlebar;
  height: 40px;
  margin: 0;
  padding: 0;
}

#title-bar-buttons
{
  width: 70px;
  padding: 12px 14px;
  margin: 0;
}

#title-bar-button-box {
  -moz-appearance: -moz-window-button-box;
}

#title-bar-min {
   -moz-appearance: -moz-window-button-minimize;
}
#title-bar-max {
   -moz-appearance: -moz-window-button-maximize;
 }

:root[sizemode="maximized"] #title-bar-max {
   -moz-appearance: -moz-window-button-restore;
 }

#title-bar-close {
   -moz-appearance: -moz-window-button-close;
}
